@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 2px
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 2px 2px 5px black;
}
.info__columna{
    background:  #009c8c ;
    color:white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    position: relative; 
}

.contacto__columna{
    background:  #009c8c ;
    color:white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    position: relative; 
}
