/*-----------------------------------------Google maps-------------------------------*/
 .google-maps {
    padding-bottom: 2%; //
    height: 0;
    overflow: hidden;
    }
    .google-maps iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 1000% !important;
    }